<div
  class="rounded-2xl border-[1px] border-[#1111111a] relative cursor-pointer hover:shadow-lg trans-3"
>
  <img [src]="frame.altImage" alt="" class="frame-img" />
  <div class="px-4 pt-4 pb-2 h-[12rem] flex flex-col justify-between">
    <div>
      <h4 class="text-body-xl font-normal mb-1 text-[#111111]">
        {{ frame.name }}
      </h4>
      <h5 class="text-body-md font-light text-[#717171]">
        {{ frame.locations }}
      </h5>
    </div>
    <div class="flex justify-between items-center">
      <h5 class="text-body-md">
        <span class="font-medium text-[#111111]">{{ frame.price }}</span>
        <span class="font-light text-[#717171]"> / {{ frame.time }}</span>
      </h5>
      <div
        class="text-body-md font-light text-[#111111] flex items-center gap-x-3"
      >
        <img src="assets/images/airbnb-star.png" class="h-3.5" />{{
          frame.rate
        }}
      </div>
    </div>
  </div>
  <div
    class="h-[2.3rem] w-[2.3rem] bg-white rounded-full absolute top-[12px] right-[12px] trans-3 hover:bg-black cursor-pointer flex items-center justify-center heart-frame"
  >
    <img src="assets/images/airbnb-heart-black.png" class="h-4 h-black" />
    <img src="assets/images/airbnb-heart-white.png" class="h-4 h-white" />
  </div>
</div>
